* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #080808;
  background-color: rgb(202, 203, 203);
  overflow-x: hidden;
}
.imaaag {
  width: 100%;
  height: 60vh;
  background-image: url("img/kh.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.imaaag::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.center {
  color: white;
  position: absolute;
  top: 32%;
  left: 5%;
  transform: translate (-50%, -50%);
}

.title {
  padding-left: 0rem;
  padding-bottom: 2.5rem;

  font-weight: 80;
}

.headings {
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
  padding: auto;
}

.headings span {
  padding: auto;
  font-size: 3rem;
  font-weight: 700;
  background: #236acf;
  color: #fff;
  border-radius: 0.2em;
  padding: 0.2rem 1rem;
}

.row {
  margin: auto;
  display: flex;
  position: relative;
  height: 88%;
  align-items: center;
}

.card {
  width: 190px;
  height: 200px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  transition: transform 0.5s;
  background-position: center;
  background-size: cover;
  grid-template-columns: repeat(2, 1fr);
}

.col {
  margin: auto;
  display: flex;
  position: relative;
  flex-basis: 50%;
  padding: 7rem;
  padding-top: 4rem;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 80px;
  font-style: italic;
  align-items: center;
  padding-top: 1.5rem;
}

.sub-title {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}

.card1 {
  background-image: url(img/vo.jpg);
}

.card2 {
  background-image: url(img/su.jpg);
  padding-left: 3rem;
}

.card4 {
  background-image: url(img/ba.png);
}

.card3 {
  background-image: url(img/conn.jpg);
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  color: rgb(12, 1, 1);
  text-shadow: 0 0 1px #100101;
  font-size: 26px;
  padding-top: 23rem;
}

.col a {
  color: rgba(99, 98, 96, 0.587);
}

.cont {
  width: 85vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;

  overflow: hidden;
  border: 4px solid #ffffff;
  border-radius: 8px;
  padding-right: 10px;
  box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
}

.wrapp {
  width: 300px;
  display: flex;
  animation: slide 16s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%);
  }

  55% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-200%);
  }

  80% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(-300%);
  }
}

/* img {
    width: 2000%;
    height: 7000%;
} */
.vv {
  width: 40vh;
  height: 20vh;
  padding-top: 2rem;
  padding-left: 2rem;
}

article h1 {
  width: 30vh;
  height: 30vh;

  padding-top: 2rem;
  font-size: 50px;
  padding-left: 2rem;
}

/********************/

.section {
  margin: auto;

  width: 80%;
  display: grid;
  place-items: center;
  text-align: center;
}

.ros {
  padding: auto;
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}

.cars {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #8494ad 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}

.h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}

.p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.icon-wrapper {
  background-color: #718ebc;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

.cars:hover {
  background-position: 0 100%;
}

.cars:hover .icon-wrapper {
  background-color: #ffffff;
  color: #878d98;
}

.cars:hover h3 {
  color: #ffffff;
}

.cars:hover p {
  color: #f0f0f0;
}

@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }

  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }

  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

.section-heading {
  padding-left: 26rem;
  padding-bottom: 2rem;
  font-size: 70px;
}

.wrappe {
  border: 1px solid #ffffff;
  height: 300px;
  width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.mm {
  height: 100%;
  width: 30%;
  /* margin-left: -30rem;
  margin-top: -270px;*/
  justify-content: center;
  align-items: right;
  perspective: 800px;
  perspective-origin: 50%;
}

.image-cube {
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  position: relative;
  transition: 2s;
  /*margin-right: 100px;
  margin-top: 20px;*/
}

.image-cube div {
  height: 300px;
  width: 300px;
  position: absolute;
}
aside {
  height: 70vh;
  background: #91919a;
  width: 100%;
}
aside img {
  width: 100%;
  height: 100%;
  transform: translateZ(0);
}

.front {
  transform: translateZ(150px);
}

.right {
  transform: rotateY(-270deg) translateX(150px);
  transform-origin: 100% 0;
}

.back {
  transform: translateZ(-150px) rotateY(180deg);
}

.left {
  transform: rotateY(270deg) translateX(-150px);
  transform-origin: 0 50%;
}

.btns {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  padding-top: 80px;
}

.btns button {
  background-color: transparent;
  color: #ffffff;
  border: 3px solid #ffffff;
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
}

aside ul {
  padding-top: 2rem;
}

aside li {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 15cm;
  margin: 20px;
  line-height: 2.8rem;
}

.paart {
  /*background-image: url(kh.jpg) no-repeat;
    

    height: 500px;
    width: 100%;*/

  width: 100%;
  height: 80vh;
  background-image: url("img/jfk.jfif");
  background-size: cover;
  background-position: center;
  position: relative;
}

.para2 {
  margin: auto;
  width: 80%;
}
.wrappe {
  border: 1px solid #ffffff;
  height: 300px;
  width: 300px;
  position: absolute;
  margin-left: 80rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.para1 {
}
.mer {
  display: flex;
  columns: 1fr 1fr;
  position: relative;
}
.acc {
  width: 50%;
  background: rgba(165, 164, 164, 0.308);
  /* margin: 0 15px;*/
  margin: auto;
  padding: 15px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.acc-cont {
  background: rgba(165, 164, 164, 0.5);
  border: 1px solid #ffd6b3;
  border-radius: 4px;
  margin: 10px 0;
  overflow: hidden;
}

.acc-cont.open {
  padding: bottom 10px;
}

.acc-cont.open header {
  min-height: 35px;
}

.acc-cont header {
  display: flex;
  min-height: 50px;

  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s linear;
}

.acc-cont header .tittle {
  font-size: 20px;
  font-weight: 700;
  color: #1b1b1b;
}

.acc-cont header i {
  font-size: 15px;
  color: #333;
}

.acc-cont .description {
  margin-top: 1rem;
  height: 0;
  font-weight: 600;
  font-size: 18px;
  color: #333;
  padding: 0 15px;
  transition: all 0.2s linear;
  line-height: 2.4rem;
}

.main {
  width: 30%;
  min-height: 380px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.service {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  margin-top: 4rem;
  z-index: 1;
  box-shadow: 0 0 20px -15px #030380;
  transition: transform 0.8s;
}

.service-logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: -90px auto 0;
  background: #fff;

  border: 18px solid rgb(202, 203, 203);
}

.service-logo img {
  width: 50px;
  margin-top: 20px;
  transition: transform 1s;
}

.service h4 {
  color: #3d3d3d;
  font-size: 2rem;
  height: 35px;
  width: 80%;
  background: #fff;
  margin: 20px auto;
  position: relative;
}

.service h4 ::after {
  content: "";
  width: 40px;
  height: 30px;

  position: absolute;
  right: -5px;
  top: -5px;
  z-index: -1;
}

.service h4 ::before {
  content: "";
  width: 40px;
  height: 30px;
  background: linear-gradient(to right, #8faaa9, #fff);
  position: absolute;
  left: -5px;
  bottom: -5px;
  z-index: -1;
}
.service p {
  line-height: 2.5rem;
  font-weight: 600;
  font-size: 1.5rem;
}
/*
.shadowOne {
  height: 200px;
  width: 80%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 10%;
  z-index: -1;

  transition: transform 0.8s;
}

.shadowTwo {
  height: 200px;
  width: 64%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 18%;
  z-index: -2;
}*/

.main:hover .service {
  transform: translateY(-50px);
}

.main:hover .shadowOne {
  transform: translateY(-25px);
}

.main:hover img {
  transform: rotate(360deg);
}

.conseil {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/*
.part3 {
    background-color: #91919a;
}

/*
.col-md-4 {


    justify-content: center;
    align-items: center;

}*/
