* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #080808;
  background-color: #e1dcdc;
  overflow-x: hidden;
}
.heading {
  margin-top: -60rem;
  text-align: center;
}

.heading span {
  font-size: 2.9rem;
  font-weight: 700;
  background: #236acf;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}
.headingg {
  text-align: center;
}

.headingg span {
  font-size: 2.9rem;
  font-weight: 700;
  background: #236acf;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9rem;
  width: 100%;
  background-color: black /*#f0fff0 hsla(0, 0%, 100%, 0.95)*/;
  position: relative;
  opacity: 0.8;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: rgb(37, 37, 37) /*hsla(0, 0%, 100%, 0.95)*/;
  box-shadow: 0 1.2rem 3.2rem rgba(255, 255, 255, 0.04);
}
.nav-logo {
  display: flex;
  height: 9rem;
  width: 26.1rem;
  background-color: black /*#e1dcdc*/;
}
.nav-logo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 261px;
  z-index: 2;
  border-style: solid;
  border-width: 90px 50px 0 0;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}
.logo {
  padding-left: 1rem;
  width: 13rem;
  height: 8rem;
  color: #fff;
  /*
  mix-blend-mode: multiply;*/
}
h22 {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: Julius Sans One;
  text-align: center;
  padding-top: 1.99rem;
  width: 15rem;
}
.nav {
  display: flex;
  align-items: center;
  position: relative;
  gap: 8rem;
  padding-right: 3rem;
  font-family: Kanit;
}
.nav-link:link,
.nav-link:visited {
  font-size: 2.1rem;
  font-weight: 600;
  color: wheat /*#020202*/;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
  display: flex;
  justify-content: space-around;
  margin: 0.1rem;
  list-style-type: disc;
}

.nav-link:hover,
.nav-link:active {
  color: #5499fa;
}
.icon {
  font-size: 2rem;
  padding-right: 1rem;
}
.icon-search i {
  color: white /*#000000*/;
  margin-right: 3rem;
  font-size: 2.6rem;
  cursor: pointer;
}
.icon-search i:hover,
.icon-search i:active {
  color: #5499fa;
}

.search-form {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: hsla(0, 0%, 100%, 0.95);
  display: flex;
  align-items: center;
  z-index: 1001;
  padding: 1.5rem 2rem;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.search-form.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.search-form #search-bar {
  width: 100%;
  padding: 1rem;
  color: #333;
  font-size: 1.7rem;
  border-radius: 0.5rem;
}

.search-form label {
  color: #020202;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}
.search-form label:hover {
  color: #5499fa;
} /*
.vols {
  height: 90vh;
  width: 100%;
  background-position: center;
  background-image: url(img/R.jfif);
  opacity: 0.2;
  background-size: cover;
}*/
.login-form {
  position: fixed;
  top: -120%;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.login-form.active {
  top: 0%;
}
.login-form #form-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}
.login-form form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.6rem;
  background: transparent;
  backdrop-filter: blur(40px);
  box-shadow: 0 0 30px rgb(168, 168, 168);
  overflow: hidden;
  width: 50rem;
  border: 3px solid rgba(135, 135, 135, 0.5);
}
.login-form form h3 {
  font-size: 3rem;
  color: #c0bcbc;
  text-transform: uppercase;
  padding: 1rem 0;
  text-align: center;
}
/*********************/

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #e8e8e8;
  margin: 30px 0;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 1000%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: white;
  font-weight: 500;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.9rem;
  color: #ffffff;
  line-height: 57px;
}

/*********************/
.login-form form .box {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  margin: 0.6rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  color: black;
  padding: 0.8rem 3rem;
  border: 0.2rem solid white;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 600;
  background: white;
  border-radius: 0.5rem;
}
.btn:hover {
  color: white;
  background: black;
}
.login-form form .btn {
  display: block;
  width: 100%;
}
.login-form form #remembre {
  margin: 2rem 0;
}
.login-form form label {
  font-size: 1.5rem;
  color: whitesmoke;
}
.login-form form p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #cbcbcb;
}
.login-form form p a {
  color: rgb(120, 120, 173);
}

.mobile-nav-btn {
  border: none;
  background: none;
  color: white;
  display: none;
}
.mobile-nav-btn ion-icon {
  width: 3rem;
  height: 3rem;
}

ion-icon[name="close"] {
  display: none;
}
/***************************************/

.img {
  background: url("img/pa.jpg") no-repeat;
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title {
  color: #fff;
  font-size: 42px;
  font-weight: 80;
}
.center .sub_title {
  color: #fff;
  font-size: 28px;
  font-weight: 48;
}
.box {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 40px 40px 40px -40px;
  border-radius: 20px;
  padding: 2px;
  margin: 1px;
  height: 120px;
}
.box:hover {
  color: rgb(195, 192, 192);
}
.bi {
  background-color: rgb(137, 137, 137);
}

.menu {
  margin: 2rem 0;
  background-color: #b1aeae;
}
.menu-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
img {
  width: 100%;
  display: block;
}
.menu-head {
  text-align: center;
}
.menu-head h3 {
  margin-top: -2rem;
  font-family: var(--Kaushan);
  font-size: 6rem;
  margin-bottom: 2rem;
}
.menu-head p {
  font-weight: 900;
  padding: 0.8rem 3;
  margin-bottom: 2rem;
}
.food-items {
  margin: 0rem 0;
}
.food-item {
  border-radius: 2px;
  overflow: hidden;
  background: #9d9b9b;
  color: #000;
  margin: 0.6rem 0;
  box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.75);
  display: flex;
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.food-img img {
  border-radius: 1px;
  width: 8rem;
  height: 8rem;
}
.food-content {
  padding: 1rem;
}
.food-name {
  font-size: 2.2rem;
  font-family: var(--Inter);
  color: #121212;
  font-weight: 100;
  text-transform: capitalize;
}
.line {
  width: 100px;
  height: 3px;
  background: #1f1f97;
}
.food-price {
  padding: 0.4rem 0;
  font-weight: 600;
  font-size: 1.4rem;
  opacity: 0.8;
}
.rating {
  display: flex;
  list-style: none;
}
.category {
  padding-top: 0.2rem;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: var(--Inter);
}
.category span {
  font-weight: 400;
}
@media screen and (min-width: 600px) {
  .food-item {
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
    padding: 1rem;
    column-gap: 1rem;
  }
  .food-content {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-head p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 992px) {
  .menu-head p {
    width: 50%;
  }
  .food-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
.reserver {
  background: url(img/ppp.jpg) no-repeat;
  width: 100%;
  height: 78vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.reservation {
  width: 800%;
  max-width: 650px;
  background: rgba(35, 37, 49, 0.5);
  padding: 28px;
  margin: auto;
  border-radius: 10px;
  box-shadow: inset -2px 3px 2px white;
}

.form-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: white;
  text-shadow: 2px 2px 2px black;
  border-bottom: solid 1px white;
}

.main-user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n) {
  justify-content: end;
}

.user-input-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.user-input-box label {
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input {
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.gender-title {
  color: white;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid white;
}

.gender-category {
  margin: 15px 0;
  color: white;
}

.gender-category label {
  padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input {
  cursor: pointer;
}

.form-submit-btn {
  margin-top: 40px;
}

.form-submit-btn input {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: rgb(209, 209, 209);
  background: rgba(47, 47, 47, 0.7);
}

.form-submit-btn input:hover {
  background: rgba(241, 244, 241, 0.7);
  color: rgb(255, 255, 255);
}

@media (max-width: 600px) {
  .container {
    min-width: 280px;
  }

  .user-input-box {
    margin-bottom: 12px;
    width: 100%;
  }

  .user-input-box:nth-child(2n) {
    justify-content: space-between;
  }

  .gender-category {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .main-user-info {
    max-height: 380px;
    overflow: auto;
  }

  .main-user-info::-webkit-scrollbar {
    width: 0;
  }
}

section {
  height: 110vh;
  width: 100%;
  background-color: #bebebe;
  display: grid;
  place-items: center;
}
.row {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.para {
  margin-top: -130rem;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #272728;
}
.paraa {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #272728;
}
.column {
  margin-top: -50rem;
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 100%;
  height: 60%;

  padding: 2em 3.5em;
  background: linear-gradient(#ffffff 50%, #49494a 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
h1 {
  font-weight: 700;
  font-size: 65px;
  font-style: italic;
  align-items: center;
  padding-bottom: 1.2rem;
}
h4 {
  font-size: 50px;
  font-style: italic;
  font-weight: 600;
  color: #0a090a;
  margin: 1em 0;
}
h44 {
  font-size: 20px;
  font-weight: 600;
  color: #0a090a;
  margin: 1rem 0;
}
p {
  margin-top: 3rem;
  color: #6b6c6e;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.icon-wrapper {
  background-color: #616162;
  position: relative;
  margin: auto;
  font-size: 40px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #27277a;
}
.card:hover h4 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
