* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #080808;
  background-color: #d8d9db;
  overflow-x: hidden;
}
.img {
  background: url("img/vols.jfif") no-repeat;
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title {
  color: #fff;
  font-size: 42px;
  font-weight: 80;
}
.center .sub_title {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}
h1 {
  font-weight: 700;
  font-size: 65px;
  font-style: italic;
  align-items: center;
  padding-bottom: 1.2rem;
}
/***************************/
/***************************/

.taab {
  width: 80%;
  margin: 10rem auto;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}
.act {
}
/**************************/
.title-head {
  font-family: "Inter", sans-serif;
  display: grid;
  position: relative;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 4rem;
  background-color: rgb(5, 5, 5);
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.accordion {
  max-height: 50rem;
  overflow: hidden;
}
.jour {
  display: grid;
  position: relative;
  width: 100%;
  height: 5rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 8px;
  background-color: #696969;
  color: #ffffff;
  border: 1px solid white;
}
.jour:hover,
.infor:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: #bbbaba;
  border: 1px solid black;
}
.t-infor {
  display: none;
}
.accordion.active .t-infor {
  display: block;
}
.infor {
  display: grid;
  position: relative;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 4rem;
  background-color: rgb(5, 5, 5);
  font-size: 1.7rem;
  font-weight: 600;
  background-color: #fff;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  color: rgb(1, 1, 156);
  border-bottom: 0.1px solid rgb(94, 94, 94);
}
.infor i {
  color: rgb(146, 144, 144);
}
/*************************
.table-vol {
  overflow: auto;
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  min-width: 1000px;
}
thead th {
  font-family: "Inter", sans-serif;
  position: sticky;
  top: 0;
  background-color: rgb(5, 5, 5);
  font-size: 1.8rem;
  color: #ffffff;
}
th,
td {
  border-bottom: 1px solid #989898;
  padding: 15px 25px;
  word-break: break-all;
  text-align: center;
}
td {
  color: rgb(1, 1, 156);
}
tr:hover td {
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: #bbbaba;
}
::placeholder {
  color: rgb(2, 2, 92);
}
tbody td {
  font-size: 1.7rem;
  font-weight: 600;
}
tbody td i {
  margin-right: 2rem;
  color: #989898;
}
tbody .tt {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 8px;
  background-color: #696969;
  color: #ffffff;
}
/*kkkkkkkkkkkkkkk*/
.cc {
  height: 60rem;
}

.part1 {
  width: 80%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 40rem;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.part2 {
  width: 80%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 70rem;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.tabs {
  display: grid;
}

h2 {
  font-size: 2rem;
  background-color: #989898;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  font-weight: 600;
}

h2 i {
  padding-right: 1rem;
}

.tab-content {
  background-color: #d8d9db;
  /*padding: 30px 20px;*/
}

.input {
  display: flex;
  width: 100%;
  height: 10rem;
  background-color: rgb(255, 255, 255);
}

.arrive {
  margin: 20px 10px;
  background-color: #dedede;
  width: 100%;
  height: 5rem;
  padding: 0.4rem 0.5rem;
  display: inline-block;
  border: 5px solid #ffffff;
  border-radius: 0.9rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding-left: 2rem;
}
/*jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj*/
.table-vol {
  overflow: auto;
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  min-width: 1000px;
}

thead th {
  font-family: "Inter", sans-serif;
  position: sticky;
  top: 0;
  background-color: rgb(5, 5, 5);
  font-size: 1.8rem;
  color: #ffffff;
}

th,
td {
  border-bottom: 1px solid #989898;
  padding: 15px 25px;
  word-break: break-all;
  text-align: center;
}

td {
  color: rgb(1, 1, 156);
}

tr:hover td {
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: #bbbaba;
}

::placeholder {
  color: rgb(2, 2, 92);
}

tbody td {
  font-size: 1.7rem;
  font-weight: 600;
}

tbody td i {
  margin-right: 2rem;
  color: #989898;
}

tbody .tt {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 8px;
  background-color: #696969;
  color: #ffffff;
}

.erreur {
  color: red;
  font-size: 25px;
  text-align: center;
  padding-left: 2.5rem;
}
